.app-bg{
  background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(./bg.jpg);
  background-image: url(./bg.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
 }
.side-bg{
  background-color: rgba(0, 0, 0, 0.7);
}